.tokenomics-section {
	padding-bottom: 31px;
	background-image: url(../../assets/cupid.png);
	background-repeat: no-repeat;
	background-size: auto 120%;
	background-position: 0 -110px;
	position: relative;
}

.tokenomics-section .title {
	display: flex;
	align-items: center;
	justify-content: center;
}

.tokenomics-section>.title .title-text {
	margin-top: -20px;
}

.tokenomics-section .token-heart {
	margin-left: 125px;
}

.tokenomics-section .tokenomics-heart {
	position: absolute;
	top: 188px;
	right: -62px;
	transform: rotate(1.261deg);
}

@media screen and (max-width: 1275px) {
	.tokenomics-section {
		background-size: auto 95%;
	}
}

@media screen and (max-width: 1112px) {
	.tokenomiks-main__img {
		margin-left: auto;
		margin-right: auto;
	}

	.tokenomics-section {
		background-size: auto 80%;
		background-position: 0 335px;
		padding-bottom: 335px;
	}

	.tokenomiks-main__img {
		width: 680px !important;
		height: 550px !important;
	}
}

@media screen and (max-width: 768px) {
	.tokenomics-section .token-heart {
		margin-left: 0;
	}

	.tokenomiks-main__img {
		width: 100% !important;
		height: 100% !important;
	}
}

@media screen and (max-width: 830px) {
	.tokenomics-section .tokenomics-heart {
		display: none;
	}

	.tokenomiks-main__img {
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (max-width: 480px) {
	.tokenomics-section {
		padding-bottom: 0;
		background-image: none;
	}

	.tokenomics-section .money-heart {
		width: 83.093px;
		height: 125px;
	}

	.tokenomics-section .token-heart {
		width: 73.473px;
		height: 75.202px;
	}

	.tokenomics-section .title {
		gap: 10px;
	}
}

.tokenomiks-main__img {
	width: 779px;
	height: 608px;
	/* margin: -15px 0 auto 390px; */
	margin-left: auto;
	margin-right: 123px;
}

.tokenomiks-main__img img {
	width: 100%;
	height: 100%;
}